body{
    margin: 0 !important;
    background: #333;
    color: #fff;
    font-size: max(2vh,10px);
    font-family: 'Lato', sans-serif;
}
h1{
    width: 100%;
    text-align: center;
    font-size: max(5vh,25px);
    background-color: #222;
    height: max(11vh,50px);
    margin-top: 0px !important;
    padding-top: 4.5vh;
    border-bottom: #1E90FF solid max(1px,0.2vh);
}
h3{
    width: 100%;
    text-align: center;
    font-size: max(3.5vh,15px);
    margin-top: 0px !important;
    padding-top: 1 vh;
}
p{
    width: 50%;
    margin-left: 25%;
    text-align: justify;
}
#b1,#b4{
    margin-left: 50%;
}
#b3{
    margin-left: 10%;
}
#b2{
    margin-left: 45%;
}








footer{
    width: 100%;
    text-align: center;
    font-size: max(2vh,10px);
    background-color: #222;
    height: max(6vh,20px);
    padding-top: max(3.8vh,12px);
    border-top: #1E90FF solid max(1px,0.2vh);
}