<!DOCTYPE html>
    <head>
        <title>Projekt Artysta</title>
        <link rel = "stylesheet" href = "../static/style.css/">
    </head>
    <body>
        <h1>Instrukcja obsługi</h1>
        <p>
            Poniżej znajdują się 4 przyciski sterujące robotem. Aby 
            robot ruszył przyciski muszą być naciśnięte i trzymane.
            Następnie istnieje możliwość wygenerowania obrazka z przejechanej
            trasy. 
        </p>
         <form action = "/">
             <input id = "b1" type = "button" value="przód">
             <input id = "b2" type = "button" value="dioda2">
             <input id = "b3" type = "button" value="dioda3">
             <input id = "b4" type = "button" value="dioda4">
             <br><br>
             <input id = "obrazek" type = "button" value="Rysuj trasę">
        </form>

    <script>
        function ExecPythonCommand(pythonCommand) {
            let request = new XMLHttpRequest();
            request.open("GET", "/" + pythonCommand, true);
            request.send();
        }
        function wyslij() {
            let kierunek = [...this.id];
            ExecPythonCommand("action("+ kierunek[1] +")");
        }
        function koniec() {
            ExecPythonCommand("action("+ 0 +")");
        }
        function narysuj(){
            ExecPythonCommand("draw()");
        }
        for(let i=1;i<=4;i++) {
            document.getElementById('b' + i).addEventListener('mousedown', wyslij);
            document.getElementById('b' + i).addEventListener('mouseup', koniec);
        }

        document.getElementById('obrazek').addEventListener("click", narysuj);
    </script>
        
    </body>
</html>

