<!DOCTYPE html>
    <head>
        <title>Projekt Artysta</title>
        <link rel = "stylesheet" href = "../static/style.css/">
        <script src="../static/script.js/"></script> 
    </head>
    <body>
        <h1>Instrukcja obsługi</h1>
        <p>
            Poniżej znajdują się 4 przyciski sterujące robotem. Aby 
            robot ruszył przyciski muszą być naciśnięte i trzymane.
            Następnie istnieje możliwość wygenerowania obrazka z przejechanej
            trasy. 
        </p>
        <h3>Czas: {{ time }}
        </h3>
            <input id = "b1" type = "button" name="dioda1" value="dioda1">
            <input id = "b2" type = "button" name="dioda2" value="dioda2">
            <input id = "b3" type = "button" name="dioda3" value="dioda3">
            <input id = "b4" type = "button" name="dioda4" value="dioda4">
         
         
         <form method ="post" action = "/">
            <input type = "button" name="obrazek" value="obrazek">
        </form>
        
    </body>
</html>

